*.py[cod]
.Python
bin/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
python*/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.tox
pip-log.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
*.mo
*.pot

docs/_build/
